/* BELOW 600px */
@media (max-width: 37.5em) {
  html {
    font-size: 56.25%;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
  }
}

/* BELOW 375px */
@media (max-width: 23.44em) {
  html {
    font-size: 50%;
  }
}
